html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #000;
  font-size: 14px;
}

.formoTab
{
  max-width: 600px;
}

formo-slider
{
  display:flex;
  justify-content: space-between;
  width: 100%;
}

fieldset
{
  border: 1px solid #eee;
}

.element--visible {
  display: block;
}

.element--invisible {
  display: none;
}

.mainScene--foreground {
  display: block;
  transition: opacity .3;
  opacity: 1;
}

.mainScene--background {
  display: block;
  transition: opacity .3;
  opacity: .3;
}

.webcam {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: url(./assets/backdrop.jpg) no-repeat fixed center center #191919;
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  cursor: pointer;
  z-index: 0;
}

.webcam--hide
{
  transition: opacity 3s;
  opacity: 0;
}

.webcam--show
{
  transition: opacity 3s;
  opacity: 1;
}

.timeAndControlsWidgetWrapper {
  position: absolute;
  top: 35px;
  left: 35px;
  text-align: center;
}

.widgetClock {
  font-size: 6vw;
  color: white;
  text-shadow: 1px  1px 1px black, 1px -1px 1px black, -1px  1px 1px black, -1px -1px 1px black;
  text-align: center;
  display: block;
}

.widgetClock::part(date)
{
  font-size: 1vw;
}

.widgetControls {
  overflow: hidden;
  box-sizing: border-box;
  text-align: left;
}

.widgetControls__button {
  margin: 5px 5px 5px 0;
}

.widgetLastCam {
  position: absolute;
  bottom: 50px;
  left: 35px;
  display: inline-block;
  overflow: hidden;
}

.widgetLastCam__image {
  width: auto;
  max-width: 12vw;
  border: 3px solid #fafafa;
}

.widgetLog {
  position: absolute;
  bottom: 5px;
  left: 35px;
  color: white;
  font-size: 1vw;
  text-shadow: 1px  1px 1px black, 1px -1px 1px black, -1px  1px 1px black, -1px -1px 1px black;
  transition: opacity 1s;
  display: inline-block;
  overflow: hidden;
}

.widgetLocation {
  position: absolute;
  bottom: 50px;
  right: 35px;
  text-align: right;
  color: white;
  text-shadow: 1px  1px 1px black, 1px -1px 1px black, -1px  1px 1px black, -1px -1px 1px black;
  display: inline-block;
  overflow: hidden;
}

.widgetLocation__link,
.widgetLocation__link:active,
.widgetLocation__link:visited,
.widgetLocation__link:focus,
.widgetLocation__link:active:focus,
.widgetLocation__link:visited:focus
{
  font-size: 1.5vw;
  color: white;
  text-decoration: none;
}

.widgetLocation__link:hover {
  text-decoration: underline;
}

.widgetLocation__place {
  font-size: 1vw;
}

.widgetMap {
  position: absolute;
  top: 35px;
  right: 35px;
  display: inline-block;
  overflow: hidden;
}

.widgetMap--imageVisible
{
  transition: opacity .5s, width .5s, height .5s;
  opacity: 1;
  width: 250px;
  height: 250px;
}

.widgetMap--imageInvisible
{
  transition: opacity .5s, width .5s, height .5s;
  opacity: 0;
  width: 0;
  height: 0;
}

.widget--opacity0   {transition: opacity .5s; opacity:  0;}
.widget--opacity10  {transition: opacity .5s; opacity: .1;}
.widget--opacity20  {transition: opacity .5s; opacity: .2;}
.widget--opacity30  {transition: opacity .5s; opacity: .3;}
.widget--opacity40  {transition: opacity .5s; opacity: .4;}
.widget--opacity50  {transition: opacity .5s; opacity: .5;}
.widget--opacity60  {transition: opacity .5s; opacity: .6;}
.widget--opacity70  {transition: opacity .5s; opacity: .7;}
.widget--opacity80  {transition: opacity .5s; opacity: .8;}
.widget--opacity90  {transition: opacity .5s; opacity: .9;}
.widget--opacity100 {transition: opacity .5s; opacity:  1;}

.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  overflow: auto;
  background-color: white;
}

.sidebar--open {
  transition: width .5s, opacity .5s;
  width: 400px;
  opacity: 1;
}

.sidebar--close
{
  transition: width .5s, opacity .5s;
  width: 0;
  opacity: 0;
}

.sidebarFilter {
  position: fixed;
  z-index: 9999;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  width: 400px;
  height: 50px;
  background-color: #eee;
}

.sidebarFilter__input {
  background-color: white;
  display: inline-block;
  outline: 0;
  cursor: text;
  width: 300px;
}

.sidebarFilter__clearButton {
  display: inline-block;
}

.sidebarWebcams {
  border-bottom: 1px solid green;
  text-align: left;
  padding-top: 60px;
}

.sidebarWebcamsDisabled {
  border-bottom: 1px solid red;
  text-align: left;
  overflow: hidden;
}

.sidebarWebcam {
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  margin: 0;
  padding: 5px;
}

.sidebarWebcam--loading {
  font-style: italic;
}

.sidebarWebcam--activeCam {
  border-left: 5px solid orangered;
}

.sidebarWebcam__led {
  display: block;
  float: right;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.sidebarWebcam__led--grey {
  background-color: #CCCCCC;
}

.sidebarWebcam__led--green {
  background-color: #1eff00;
}

.sidebarWebcam__led--red {
  background-color: #F00;
}

/* currently not used */
.sidebarWebcam__led--yellow {
  background-color: #FF0;
}

.sidebarWebcam__led--blue {
  background-color: #2433ff;
}

.sidebarWebcam__location {
  font-weight: bold;
}

/* these occur only in the disabled category */
.sidebarWebcam__previewImage {
  width: 150px;
  height: auto;
  margin-top: 10px;
  font-family: 'Helvetica';
  font-weight: 300;
  line-height: 1;
  text-align: left;
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  min-height: 25px;
}

.sidebarWebcam__previewImage:before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: 0;
  height: calc(100% + 10px);
  width: 100%;
  background-color: white;
}

.sidebarWebcam__previewImage:after {
  content: "Broken " attr(alt);
  display: block;
  color: rgb(100, 100, 100);
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
}

#webcamCount, #disabledWebcamCount {
  display: inline-block;
  padding: 3px 10px;
  margin: 0 3px 5px;
  font-size: 0.8em;
  border-radius: 0 0 5px 5px;
  border: 1px solid green;
  background-color: green;
  color: white;
}

#disabledWebcamCount {
  border: 1px solid red;
  background-color: red;
}

#prefsScene {
  background-color: white;
  position: absolute;
  box-sizing: border-box;
  padding: 0;
  overflow: auto;
}

.prefsScene--open {
  transition: left .3s, right .3s, top .3s, bottom .3s;
  top: 25px;
  right: 25px;
  left: 25px;
  bottom: 25px;
}

.prefsScene--close {
  transition: left .3s, right .3s, top .3s, bottom .3s;
  top: 0;
  right: 0;
  left: 100%;
  bottom: 100%;
}

.prefsSceneHeader {
  position: sticky;
  left: 25px;
  right: 25px;
  top: 0px;
  width: inherit;
  background-color: white;
}

.prefsSceneTitle {
  text-align: right;
  padding: 5px;
}

#prefsSheetsTab h3, #prefsPresentationTab h3, #aboutTab h3 {
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

#prefsSceneStatus {
  transition: opacity 1s;
}

#prefsTabbox {
  padding: 10px 20px 10px 20px;
}

input::placeholder
{
  color: #bbb;
}

#prefsSheetsList {
  padding-left: 15px;
  padding-top: 0;
  padding-bottom: 0;
}

#prefsSheetsList li {
  margin-bottom: 10px;
  list-style-type: circle;
}

.line  {
  padding: 5px 0 10px 10px;
  display: flex;
  justify-content: space-between;
}

.prefsSheetsDesc {
  font-weight: normal;
}

.prefsSheetsKey {
  color: #999 !important;
  font-size: 10px;
}

.formoSliderMirror
{
  padding-left: 5px;
  padding-right: 5px;
}

#aboutWrapper
{
  display: flex;
  flex-direction: row;
}

#aboutWrapper div
{
  width: 350px;
  margin-left: 20px;
}

#aboutWrapper img
{
  object-fit:contain;
}
